h1 {
	font-size: 1.5cm;
}
.head {
	   font-size: 15mm;
      }
.head1{
	font-size: 1in;
      }
.head2{
	font-size: 50px;
      }
.head3{
	font-size: 50pt;
      }
.head4{
      	font-size: 4.5pc;
      }