.box{
border:1px solid ; 
width:100px;
height:100px;
background-color:#800000;
  }
  .box1{
border:1px solid ; 
width:100px;
height:100px;
background-color:#FF0000;
  }
  .box2{
border:1px solid ; 
width:100px;
height:100px;
background-color:#FFA500;
  }
  .box3{
border:1px solid ; 
width:100px;
height:100px;
background-color:#FFFF00;
  }
  .box4{
border:1px solid ; 
width:100px;
height:100px;
background-color:#808000;
  }
  .box5{
border:1px solid ; 
width:100px;
height:100px;
background-color:#008000;
  }
  .box6{
border:1px solid ; 
width:100px;
height:100px;
background-color:#800000;
  }
  .box7{
border:1px solid ; 
width:100px;
height:100px;
background-color:#FF0000;
  }
  .box8{
border:1px solid ; 
width:100px;
height:100px;
background-color:#FFA500;
  }
  .box9{
border:1px solid ; 
width:100px;
height:100px;
background-color:#FFFF00;
  }
  .box10{
border:1px solid ; 
width:100px;
height:100px;
background-color:#808000;
  }					
  .box11{
border:1px solid ; 
width:100px;
height:100px;
background-color:#800080;
  }
   .box12{
border:1px solid ; 
width:100px;
height:100px;
background-color:#FF00FF;
  }
  .box13{
border:1px solid ; 
width:100px;
height:100px;
background-color:#00FF00;
  }
  .box14{
border:1px solid ; 
width:100px;
height:100px;
background-color:#008080;
  }
  .box15{
border:1px solid ; 
width:100px;
height:100px;
background-color:#00FFFF;
  }
   .box16{
border:1px solid ; 
width:100px;
height:100px;
background-color:#FF00FF;
  }
  .box17{
border:1px solid ; 
width:100px;
height:100px;
background-color:#000080;
  }
  .box18{
border:1px solid ; 
width:100px;
height:100px;
background-color:#000000;
  }
   .box19{
border:1px solid ; 
width:100px;
height:100px;
background-color:#808080;
  }
  .box20{
border:1px solid ; 
width:100px;
height:100px;
background-color:#C0C0C0;
  }
  .box21{
border:1px solid ; 
width:100px;
height:100px;
background-color:#FFFFFF;
  }
