div {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s; /* Safari */
  -webkit-transition-timing-function: linear; /* Safari */
  transition: width 2s;
  transition-timing-function: linear;
  margin-left: 400px;}
.div2{
	transition-timing-function: ease;
	margin-left: 400px;
}
.div3 {
	transition-timing-function: ease-in;
	margin-left: 400px;
}
.div4 {
	transition-timing-function: ease-out;
	margin-left: 400px;
}
.div5 {
	transition-timing-function: ease-in-out;
	margin-left: 400px;
}
.div6{
	transition-timing-function:linear ;
	margin-left: 0px;
	margin-top: -300px;
	width:300px;
}
.div7{
	transition: width 2s;
	margin-left: 400px;
	margin-top: 140px;
}
div:hover {
  width: 500px;
}
.vertical{
	width:0px;
	height: 
}
