.topnav {
  overflow: hidden;
  background-color:black;
  height:50px;
}
.box{
  width:99.9%;
  height:250px;
  border:0px solid red;
  background-color: red;
}
img{
  height:200px;
  width:200px;
  margin-top:10px;
  margin-left:100px;
}
.box1{
  width:40%;
  height:250px;
  border:0px solid red;
  background-color: red;
  margin-left: 400px;
  margin-top:-250px;
}
.back{
   background-image:url(h13.jpeg);
   width:100%;
   height: 500px;
   background-repeat:repeat;
}


