.border{
width:30%;
height: 100px;
border:1px solid black;
}
#transform1{
	transform: rotate(20deg);
	margin-left:507px;
	background-color:yellow;

}
.line{
	border:1px solid black;
	height:300px;
	width:0px;
	margin-left:500px;
}
.box1{
 margin: 150px;
  width: 200px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  margin-left: 900px;
  margin-top: -100px;
  transform: scaleY(3);
}
.line1{
	border:1px solid black;
	height:300px;
	width:0px;
	margin-left:30px;
}

 #transform2{
  transform: skew(20deg,10deg);
	border:1px solid black;
	background-color:yellow;
	width:30%;
	height:100px;
	margin-left: 30px;
	margin-top:-200px;
}
.rotate1{
  width: 150px;
  height: 80px;
  background-color: yellow;
  margin-left: 10px;
  margin-top:50px;
  transform: skewY(20deg);
}
.line2{
	border:1px solid black;
	height:200px;
	width:0px;
	margin-left:500px;
	margin-top:-100px;
}
