.navigation{
	padding: 20px;
	background-color: black;
}
.navigation a{
	padding: 20px;
	text-align: center;
	text-decoration: none;
	color: red;
}
.navigation1{
	padding: 20px;
	background-color: red;
	height:300px;
}
.navigation1 a{
	padding: 20px;
	text-align: center;
	text-decoration: none;
	color: red;
}