a,button : linK{
background-color: green;
padding: 25px 25px;
text-align: center;
text-decoration: none; 
}
a,button :visited{
background-color:red;
}
a,button:hover{
	background-color:gray;

}
a,button:active{
background-color:skyblue;
}
.button{
	background-color: green;
	padding: 20px 20px;
	width=5px
}