.div1
{
    border:1px solid blue;
    height:100px;
    width:250px;
    margin-left:70px;

}
.div2
{
    border:1px solid red;
    height:100px;
    width:390px;
    padding-top:40px;
    padding-left:30px;
    margin-left:70px;


}
.div3
{
    border:1px solid blue;
    height:100px;
    width:250px;
    margin-left:70px;

}
.div4
{

    border:1px solid red;
    height:100px;
    width:390px;
    padding-top:40px;
    padding-left:30px;
    margin-left:70px;
    


}