body{
    background-color: aqua;
}
.div1
{
    background-color: pink;
    width:50%;
    float:left;
    height:60%;
    margin-left :123px;
    margin-top:100px;
    
}
.image
{
    margin-top:40px;
    
margin-left: 123px;
margin-bottom:45px

}
p{
    text-align:center;
padding-bottom:321px;
}
h3{
    text-align: center;
}
img{
    width:80%;
    height:150px;
}